<%- include("./partials/header.ejs") %>

<div class="container pt-3">
  <div class="row">
    <div class="col-md-9">
     <h1><%= title %></h1>
     </div>
     <div class="div col-md-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Ajouter un plat
        </button>

     </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="platModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="platModal">Nouveu plat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/plats" method="post">
         <div class="mb-3">
           <label for="title" class="form-label">Plat</label>
           <input type="text" class="form-control" id="title" placeholder="Nom du plat" name="title">
         </div>
         <div class="modal-body">
          <form action="/plats" method="post">
           <div class="mb-3">
             <label for="title" class="form-label">Auteur</label>
             <input type="text" class="form-control" id="author" placeholder="Auteur du plat" name="author">
           </div>
       </form> 
      </div>
    

    <%- include("./partials/footer.ejs") %>

